:root{
    // rest of the buttons
    --numbers-color:  hsl(221, 14%, 31%);
    --numbers-background: hsl(30, 25%, 89%);
    --numbers-shadow: hsl(28, 16%, 65%);

    --signs-color:  hsl(221, 14%, 31%);
    --signs-background: hsl(30, 25%, 89%);
    --signs-shadow: hsl(28, 16%, 65%);

    // reset, del, equals
    --header-color:  #fff;
    --screen-color:  #fff;

    --del-color:  #fff;
    --del-background:  hsl(225, 21%, 49%);
    --del-shadow: hsl(224, 28%, 35%);

    --reset-color:  #fff;
    --reset-background:  hsl(225, 21%, 49%);
    --reset-shadow: hsl(224, 28%, 35%);

    --equal-color:  #fff;
    --equal-background:  hsl(6, 63%, 50%);
    --equal-shadow:  hsl(6, 70%, 34%);
    
    --main-background:  hsl(222, 26%, 31%);
    --key-pad: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);

    --key-background: hsl(225, 21%, 49%);
    --key-shadow: hsl(224, 28%, 35%);

    --red-key: hsl(6, 63%, 50%);
    --red-key-shadow:   hsl(6, 70%, 34%);
    --grayish-key:  hsl(30, 25%, 89%);
    --grayish-key-shadow:  hsl(28, 16%, 65%);
    --vary-dark:  hsl(221, 14%, 31%);
    --white: #fff
}

.theme-two{

     // rest of the buttons
     --numbers-color:   hsl(60, 10%, 19%);
     --numbers-background: hsl(30, 25%, 89%);
     --numbers-shadow: hsl(28, 16%, 65%);
 
     --signs-color:  hsl(60, 10%, 19%);
     --signs-background: hsl(30, 25%, 89%);
     --signs-shadow: hsl(28, 16%, 65%);
 
     // reset, del, equals
     --header-color:  hsl(60, 10%, 19%);
     --screen-color:  hsl(60, 10%, 19%);
 
     --del-color:  #fff;
     --del-background:  hsl(225, 21%, 49%);
     --del-shadow: hsl(224, 28%, 35%);
 
     --reset-color:  #fff;
     --reset-background:  hsl(225, 21%, 49%);
     --reset-shadow: hsl(224, 28%, 35%);
 
     --equal-color:  #fff;
     --equal-background:  hsl(6, 63%, 50%);
     --equal-shadow:  hsl(6, 70%, 34%);
     
     --main-background:  hsl(0, 0%, 90%);
     --key-pad:  hsl(0, 5%, 81%);
     --screen-background: #fff;
 
     --key-background: hsl(225, 21%, 49%);
     --key-shadow: hsl(224, 28%, 35%);
 
     --red-key: hsl(6, 63%, 50%);
     --red-key-shadow:   hsl(6, 70%, 34%);
     --grayish-key:  hsl(30, 25%, 89%);
     --grayish-key-shadow:  hsl(28, 16%, 65%);
     --vary-dark:  hsl(221, 14%, 31%);
     --white: #fff


    --key-background: hsl(185, 58%, 25%);
    --key-shadow: hsl(25, 98%, 40%);
    --red-key: hsl(25, 99%, 27%);
    --red-key-shadow:   hsl(25, 99%, 27%);
    --grayish-key:  hsl(45, 7%, 89%);
    --grayish-key-shadow:  hsl(35, 11%, 61%);
    --vary-dark: hsl(60, 10%, 19%);
    --white: #fff;
}

.theme-three{

  // rest of the buttons
  --numbers-color:   hsl(52, 100%, 62%);
  --numbers-background: hsl(268, 47%, 21%);
  --numbers-shadow: hsl(290, 70%, 36%);

  --signs-color:  hsl(52, 100%, 62%);
  --signs-background: hsl(268, 47%, 21%);
  --signs-shadow: hsl(290, 70%, 36%);

  // reset, del, equals
  --header-color:  hsl(52, 100%, 62%);
  --screen-color:  hsl(52, 100%, 62%);

  --del-color:  #fff;
  --del-background:   hsl(281, 89%, 26%);
  --del-shadow: hsl(285, 91%, 52%);

  --reset-color:  #fff;
  --reset-background:  hsl(281, 89%, 26%);
  --reset-shadow: hsl(285, 91%, 52%);

  --equal-color:  hsl(198, 20%, 13%);
  --equal-background:  hsl(176, 100%, 44%);
  --equal-shadow:  hsl(177, 92%, 70%);
  
  --main-background:  hsl(268, 75%, 9%);
  --key-pad:  hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);

  --key-background: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);

  --red-key: hsl(6, 63%, 50%);
  --red-key-shadow:   hsl(6, 70%, 34%);
  --grayish-key:  hsl(30, 25%, 89%);
  --grayish-key-shadow:  hsl(28, 16%, 65%);
  --vary-dark:  hsl(221, 14%, 31%);

}